<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
    backupStaticAttributes="false"
    bootstrap="../../../modules/system/tests/bootstrap.php"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    processIsolation="false"
    stopOnFailure="false"
>
    <testsuites>
        <testsuite name="Logingrupa Activitylog">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="APP_ENV" value="testing" />
        <env name="CACHE_DRIVER" value="array" />
        <env name="CACHE_STORE" value="array" />
        <env name="SESSION_DRIVER" value="array" />
        <env name="CONVERT_LINE_ENDINGS" value="true" />
        <env name="CMS_ROUTE_CACHE" value="true" />
        <env name="CMS_TWIG_CACHE" value="false" />
        <env name="ENABLE_CSRF" value="false" />
        <env name="VITE_DEV_SERVER_ENABLED" value="false" />
        <env name="DB_CONNECTION" value="pgsql" force="true" />
        <env name="DB_HOST" value="127.0.0.1" force="true" />
        <env name="DB_DATABASE" value="activitylog_testing" force="true" />
        <env name="DB_URL" value="" force="true" />
        <!-- The buffered insert writes a column this table lacks. PluginBootTest proves the plugin pins it off. -->
        <env name="ACTIVITYLOG_BUFFER_ENABLED" value="true" force="true" />
    </php>
</phpunit>
